# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Documents
*.md text diff=markdown
*.txt text
*.csv text
*.json text
*.yaml text
*.yml text

# Scripts
*.sh text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.py text eol=lf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
.editorconfig export-ignore
.nvmrc export-ignore
.dockerignore export-ignore
.pre-commit-config.yaml export-ignore 